.discover-container {
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

/* Anpassungen für Masonry Layout */
.all-posts-container {
    display: flex; /* Flexbox für Masonry Layout */
    margin-left: -20px; /* Negativer margin für die Spaltenkorrektur */
    width: auto;
}

.masonry-grid_column {
    padding-left: 20px; /* Spaltenabstand */
    background-clip: padding-box;
}

.all-user-post {
    position: relative;
    width: 100%; /* Volle Breite für die Post-Elemente */
    margin-bottom: 20px; /* Abstand zwischen den Elementen */
}

.all-user-post:hover .show-all-posts-like {
    opacity: 100% ;
    transition: all 0.4s;
}

.all-user-post:hover .show-all-posts-title {
    opacity: 100% ;
    transition: all 0.4s;
}

.show-all-posts-image {
    width: 100%; /* Volle Breite der Bilder */
    display: block; /* Verhindert zusätzlichen Platz unter dem Bild */
}

.show-all-posts-like {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: black;
    margin: 0px;
    padding: 5px 10px;
    color: white;
    border-top-left-radius: 10px;
    opacity: 0% ;
    transition: all 0.4s;
}

.show-all-posts-title {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    border-top-right-radius: 10px;
    opacity: 0% ;
    transition: all 0.4s;
}

.sort-container label {
    font-size: 20px;
    margin-right: 10px;
}

.sort-container {
    margin-bottom: 40px;
}

#sortOrder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer; 
    border-radius: 10px;
}

@media (max-width: 1690px) {
    .discover-container {
        padding: 40px 40px 100px 40px;
    }
}

@media (max-width: 1000px) {
    .discover-container {
        border-radius: 0px;
    }
  }
