.home-headlines {
    height: calc(100vh - 50px);
    padding-top: 200px;
    position: relative;
}

.home-headline {
    position: relative;
    font-size: 7.5rem;
    line-height: 112px;
    margin: 0px;
    z-index: 20;
}

.home-headline span {
    color: #1028FF;
}

.home-sub-headline {
    position: relative;
    color: #BCBCBC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    font-weight: normal;
    font-size: 20px;
    z-index: 20;
}

.home-sub-headline div {
    height: 4px;
    width: 20px;
    background-color: #BCBCBC;
    border-radius: 20px;
}

.home-background-image {
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: 0;
    width: 61.8%;
}

.home-scroll-down-btn {
    position: absolute;
    bottom: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #353A40;
    border-radius: 90px;
}

.home-section-headline {
    font-weight: bold;
    font-size: 41px;
}

#create-post-preview {
    position: relative;
    z-index: 10;
}

#comment-preview {
    margin-top: 120px;
    z-index: 10;
}




@media (max-width: 1690px) {

  
    .home-background-image {
      right: 100px;
      }
      
      footer {
        padding-bottom: 100px;
    }
  }
  




@media (max-width: 1440px) {
    .home-background-image {
        right: 100px;
        }

        #create-post-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #create-post-preview img {
            width: 60%;
            position: relative;
        }

        #comment-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 200px;
        }

        #comment-preview img {
            width: 60%;
        }


  }



@media (max-width: 1190px) {
   .home-headline {
    font-size: 6.5rem;
   }

   .home-background-image {
    right: 80px;
    }
}


@media (max-width: 1000px) {
    .home-headline {
        font-size: 5rem;
        line-height: 70px;
        margin-left: 40px;
       }

       .home-background-image {
        right: 40px;
        }

        .home-sub-headline {
            margin-left: 40px;
        }
    
}

@media (max-width: 600px) {
    .home-headlines {
        padding-left: 40px;
    }

    .home-headline {
        font-size: 4rem;
        line-height: 58px;
        margin-left: 0px;
    }

    .home-sub-headline {
        margin-left: 0px;
    }

    .home-background-image {
        right: -100px;
        width: 80%;
    }

    #create-post-preview img {
        width: 90%;
    }


    #comment-preview img {
        width: 90%;
    }
    
}