body {
  background: linear-gradient(180deg, #0B0C0D 10%, #353a40 100%);
  background-repeat: no-repeat ;
  /* background-color: black; */
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  min-height: 100lvh;
  padding: 20px 200px;
  scroll-behavior: smooth;
} 

#root {
  scroll-behavior: smooth;
}

.error {
  color: #F92F60;
  font-size: 20px;
}

.success {
  color: #00D26A;
  font-size: 20px;
}
/* Header */

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0px;
  margin: 0px;
}

::marker {
  content: " ";
}

.header-nav-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.header-nav-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s;
}


.header-nav-btn:hover::before {
  width: 100%;
}


.mobile-nav {
  display: none; /* Sichtbarkeit wird durch Media Queries gesteuert */
  position: fixed; /* Änderung von sticky zu fixed */
  bottom: 0;
  left: 0; /* Stellt sicher, dass es vollständig links ausgerichtet ist */
  width: 100%; /* Sorgt dafür, dass es sich über die gesamte Breite erstreckt */
  padding: 10px 0px;
  height: fit-content;
  background-color: #1F2226;
  box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.536);
  z-index: 1000; /* Stellt sicher, dass die Navigationsleiste über anderen Elementen liegt */
}


.mobile-nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0%;
  justify-content: space-around;
  margin: 0;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}


.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}


.sign-in-btn {
  padding: 8px 10px;
  border: 2px solid #00AC1D;
  border-radius: 10px;
  color: #00AC1D;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s;
}

.sign-in-btn:hover {
  background-color: #00AC1D;
  color: white;
}

.sign-out-btn {
  padding: 8px 10px;
  border: 2px solid #ac0000;
  border-radius: 10px;
  color: #ac0000;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.sign-out-btn:hover {
  background-color: #ac0000;
  color: white;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.searchbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
}










.link-btn {
  color: #1028FF;
}

h2 {
  font-weight: normal;
  font-size: 40px;
}

.username {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.profile-image {
  height: 70px;
  width: 70px;
  border-radius: 90%;
  object-fit: cover;
}


.loading-container {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}} */

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


footer {
  display: none;
}

@media (max-width: 1690px) {
  body {
    padding: 20px 100px;
  }

  .home-background-image {
    right: 100px;
    }

  .mobile-nav {
    display: block;
    z-index: 20;
  }

  header nav ul {
    display: none;
  }

  .sign-in-btn {
    display: none;
  }

  .user-container {
    display: none;
  }
}


@media (max-width: 1440px) {
  body {
    padding: 20px 100px;
  }
}

@media (max-width: 1190px) {
  body {
    padding: 20px 80px;
  }
}



@media (max-width: 1000px) {
  body {
    padding: 0px;
  }

  .mobile-nav {
    display: block;
    z-index: 20;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  
  header nav ul {
    display: none;
  }

  .sign-in-btn {
    display: none;
  }

  .user-container {
    display: none;
  }
}