.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 800px;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}

.post-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 40px;
}

.post-infos, .camera-settings {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.post-desc {
    height: 100px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.post-image {
    height: 400px;
}

.user-post {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.show-user-posts-image {
    height: 400px;
}

.show-user-posts-title {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.comment-form-container {
    width: 500px;
}

.comment-form-container textarea {
    width: calc(100% - 20px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 100px;
    padding: 10px;
}

.comment-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    border: 1px solid #9B9B9B;
    background-color: #2e323737;
    border-radius: 20px;
    min-width: fit-content;
    width: 400px;
    padding: 10px 40px 10px 10px;
    text-align: center;
    position: relative;
}

.comment-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.comment-profile-image {
    height: 60px;
    width: 60px;
    border-radius: 90%;
    object-fit: cover;
}

.comment-date {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 14px;
    color: #9B9B9B;
}

.show-post-container {
    display: flex;
    flex-direction: column;
}

.comment-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 750px) {
    .show-post-container {
        align-items: center;
        gap: 40px;
    }

    .post-image {
        width: 100%;
        height:auto
    }

    .comment-form-container {
        padding: 0px 20px;
    }

    .comment-form-container textarea{
        max-width: 100%;
    }

    .comment {
        width: 80%;
    }

    h2 {
        text-align: center;
    }
  }