.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 800px;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
    box-sizing: border-box;
}

.post-link-btn {
    text-decoration: none;
    color: white;
}

.post-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 40px;
}

.post-user {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px 0px;
}

.desc-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.post-description-section {
    grid-area: desc;
    padding: 20px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
    font-size: 20px;
    line-height: 34px;
    color:#b5b5b5
}

.post-infos, .camera-settings {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.post-desc {
    height: 100px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

.image-and-camera-container {
    display: grid;
    grid-template-areas: "image image camera"
                         "image image desc";
    gap: 20px;
    height: fit-content;
    margin: 20px 0px;
}


.post-image {
    grid-area: image;
    width: 100%;
}

.user-post {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.show-user-posts-image {
    height: 400px;
}

.show-user-posts-title {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.camera-settings-section {
    grid-area: camera;
    padding: 80px 80px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    font-size: 21px;
}

.camera-setting {
    margin: 12px 0px;
}

.camera-setting-title {
    display: flex;
    gap: 10px;
}

.camera-setting-text {
    color: #b5b5b5;
    margin: 0px;
}




/* Kommentare */

.comments-section {
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
    max-width: 500px;
}

.comment-form-container {
    width: 500px;
}

.comment-form-container textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 100px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.comment-form-container button {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.comment-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.comment-content {
    border: 1px solid #9B9B9B;
    background-color: #2e323737;
    border-radius: 20px;
    min-width: fit-content;
    padding: 10px 40px 10px 10px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.reply {
    border: 1px solid #000a56;
    background-color: #2e323737;
    border-radius: 20px;
    min-width: fit-content;
    padding: 10px 40px 10px 10px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.comment-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.comment-profile-image {
    height: 60px;
    width: 60px;
    border-radius: 90%;
    object-fit: cover;
}

.comment-date {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 14px;
    color: #9B9B9B;
}

.show-post-container {
    display: flex;
    flex-direction: column;
}

.comment-form {
    width: 100%;
}

.delete-comment-btn {
    background-color: #ac0000;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
}

.reply-textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

.reply-btn {
    font-size: 14px;
    background-color: transparent;
    color: #9B9B9B;
    border: none;
    cursor: pointer;
}

.show-replies-btn {
    font-size: 14px;
    background-color: transparent;
    color: #b5b5b5;
    border: none;
    cursor: pointer;
}

.reply-form {
    position: relative;
}

.reply-form button {
    position: absolute;
    right: 4px;
    bottom: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}




/* Post bearbeiten */

.edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 800px;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}


.delete-post-btn {
    padding: 8px 10px;
    border: 2px solid #ac0000;
    border-radius: 10px;
    color: #ac0000;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .delete-post-btn:hover {
    background-color: #ac0000;
    color: white;
  }





@media (max-width: 1500px) {
    .show-post-container {
        align-items: center;
        gap: 40px;
    }

    .post-image {
        width: 100%;
        height:auto
    }


    .comment-form-container textarea{
        max-width: 100%;
    }


    h2 {
        text-align: center;
    }



    .image-and-camera-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        margin: 20px 0px;
    }

    .camera-settings-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 21px;
    }


    .comment-form-container {
        max-width: 100%;
    }

    .comments-section {
        padding: 20px 20px 100px 20px;
    }

    .comment-content {
        width: 100%;
    }

    .post-form-container {
        display: flex;
        flex-direction: column;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    .create-post-form {
        padding: 20px;
        box-sizing: border-box;
        border-radius: 0px;
        padding-bottom: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }