.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}

.link-to-edit-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Anpassungen für das Masonry-Layout */
.my-posts-container {
    display: flex; /* Für Masonry Layout */
    margin-left: -20px; /* Negativer Margin für korrekte Abstände */
    width: auto;
}

.masonry-grid_column {
    padding-left: 20px; /* Abstand zwischen den Spalten */
    background-clip: padding-box;
}

.link-to-edit {
    color:#9B9B9B;
    font-weight: bold;
    text-decoration: none;
}

.link-to-edit img {
    height: 30px;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 800px;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}

.image-preview {
    height: 200px;
    width: fit-content;
}

.profile-user {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.profile-profile-image {
    height: 100px;
    width: 100px;
    border-radius: 90%;
    object-fit: cover;
}
