.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}

.link-to-edit-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Anpassungen für das Masonry-Layout */
.my-posts-container {
    display: flex; /* Für Masonry Layout */
    margin-left: -20px; /* Negativer Margin für korrekte Abstände */
    width: auto;
}

.masonry-grid_column {
    padding-left: 20px; /* Abstand zwischen den Spalten */
    background-clip: padding-box;
}

.link-to-edit {
    color:#9B9B9B;
    font-weight: bold;
    text-decoration: none;
}

.link-to-edit img {
    height: 30px;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 800px;
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}

.image-preview {
    height: 200px;
    width: fit-content;
}

.profile-user {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.profile-profile-image {
    height: 100px;
    width: 100px;
    border-radius: 90%;
    object-fit: cover;
}


.profile-loading-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.delete-profile-btn {
    padding: 8px 10px;
    border: 2px solid #ac0000;
    border-radius: 10px;
    color: #ac0000;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
}

.delete-profile-btn:hover {
    background-color: #ac0000;
    color: white;
}

.mobile-profile-logout {
    display: block;
}

.user-profile-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 40px;
    margin-bottom: 40px;
}

.user-profile-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 20px;
}

.user-profile-user-container h2{
    margin: 0px;
}

.follow-btn {
    font-size: 20px;
    background-color: transparent;
    color: #9B9B9B;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.no-posts, .no-following {
    font-size: 20px;
}

.following-container {
    margin-top: 50px;
    padding: 80px 100px;
    background-color: rgba(128, 128, 128, 0.162);
    border-radius: 20px;
}

.following-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.following-list  li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: fit-content;
}

@media (max-width: 1690px) {
    .mobile-profile-logout {
        display: block;
    }
}


@media (max-width: 750px) {
    .link-to-edit-container {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 40px 80px 40px;
        border-radius: 0;
    }

    .profile-user h2 {
        font-size: 24px ;
    }

    .profile-profile-image {
        height: 80px;
        width: 80px;
    }

    .edit-profile-form {
        border-radius: 0;
        width: 100%;
        padding: 40px 40px 100px 40px;
    }
  }